.main{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
}

.core{
    display: flex;
    flex-direction: row-reverse;

    width: 100vw;
    height: 90vh;
}

.sideBar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40vw;
    height: 90vh;

    gap: 2%;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    cursor: pointer;

    background-color: rgba(112, 112, 112, 0.612);
    transition: all 0.3s ease;
}

.endoContainer{
    left: 95%;
    transition: all 0.3s ease;
}

.exoContainer{
    left: 60%;
    transition: all 0.3s ease;
}

.profile_core{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    width: 100%;
    height: 30%;
    

    background-color: rgb(99, 99, 255);
}

.name_medals{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    height: 100%;

    background-color: rgb(30, 30, 227);;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;

    background-color: bisque;
}

.medals{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50%;

    background-color: aqua;
}

.imgProfile{
    width: 40%;
    height: 100%;

    background-color: brown;
}

.adjectives{
    width: 100%;
    height: 15%;

    background-color: rgb(238, 241, 61);
}

.desc{
    width: 100%;
    height: 45%;

    background-color: brown;
}

.view_core{
    display: flex;
    align-items: center;


    width: 100%;
    height: 100%;
}

.content_module{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 50vw;
    height: 100vh;

    gap: 1%;
}

.area_plate{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 10%;

    border-radius: 13px;

    background-color: #5dd339cf;
}

.content_core{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 30vw;
    height: 80vh;

    gap: 1%;
}

.content_show{
    width: 95%;
    height: 95%;

    padding-top: 2%;
    padding-bottom: 2%;

    margin-bottom: 2%;

    overflow-y: scroll;

    border-radius: 13px;

    background-color: #A8A6A6;
}

.content_show::-webkit-scrollbar{
    width: 0px;
    border: none;
    
}

.content_show::-webkit-scrollbar-thumb{
    background-color: none;
 }


.module_area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30vw;
    height: 14vh;
    
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: -3%;

    transition: width 0.3s ease, height 0.4s ease 0.2s;
}

.content_comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 50vw;
    height: 100vh;

    gap: 1%;
}

.comments_options{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 10%;

    border-radius: 13px;

    background-color: #5dd339cf;
}

.class_icon{
    width: 50%;
    height: 50%;
}

.comment_show{
    width: 100%;
    height: 100%;

    padding-top: 2%;
    padding-bottom: 2%;

    overflow-y: scroll;

    border-radius: 13px;

    background-color: #A8A6A6;
}

.comment_show::-webkit-scrollbar{
    width: 0px;
    border: none;
    
}

.comment_show::-webkit-scrollbar-thumb{
    background-color: none;
 }

.comment_area{
    width: 95%;
    height: 25%;

    margin-top: 3%;

    margin-left: 3%;
}