.main{
    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
}

.core{
    display: flex;
    flex-direction: row-reverse;

    width: 100vw;
    height: 90vh;
}

.sideBar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40vw;
    height: 90vh;

    gap: 2%;

    left: 95%;

    background-color: rgba(112, 112, 112, 0.612);
}

.profile_core{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    width: 100%;
    height: 30%;
    

    background-color: rgb(99, 99, 255);
}

.name_medals{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 60%;
    height: 100%;

    background-color: rgb(30, 30, 227);;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50%;

    background-color: bisque;
}

.medals{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50%;

    background-color: aqua;
}

.imgProfile{
    width: 40%;
    height: 100%;

    background-color: brown;
}

.adjectives{
    width: 100%;
    height: 15%;

    background-color: rgb(238, 241, 61);
}

.desc{
    width: 100%;
    height: 45%;

    background-color: brown;
}

.view_core{
    display: flex;
    align-items: center;


    width: 100%;
    height: 100%;

    background-color: rgba(130, 165, 42, 0.339);
}

.content_core{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50vw;
    height: 90vh;

    background-color: brown;
}

.content_show{
    overflow-y: scroll;

    width: 35vw;
    height: 70vh;

    background-color: black;

}


.module_area{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 33vw;
    height: 14vh;
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;

    transition: width 0.3s ease, height 0.4s ease 0.2s;
}

.content_comments{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 40vw;
    height: 75vh;

    background-color: rgb(86, 176, 255);

}

.comments_options{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15%;

    background-color: aqua;
}

.comment_show{
    width: 100%;
    height: 100%;

    padding-top: 2%;
    padding-bottom: 2%;

    overflow-y: scroll;

    background-color: rgb(63, 213, 68);
}

.comment_area{
    width: 95%;
    height: 60%;

    margin-left: 3%;

    background-color: aliceblue;
}