
/* Ex: 'Enviar' na criação do path */
.button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: solid #ffff 0.15vw;

    background-color: #48d32d;
    transition: background-color 0.5s;

    outline: none;

    font-family: "Urbanist";
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 0.9vw, 5em);
    color: #ffffff
}

.button:hover{
    border: solid #ffff 2px;
    background-color: #4A8CE1;
    color: #ffff;

}

/* Ex: 'Enviar' quando vamos lidar com class */

.Save{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    border: solid #ffff 2px;

    background-color: #f6c94b;
    transition: background-color 0.5s;

    outline: none;

    font-family: "Urbanist";
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #625353

}

.Save:hover{
    border: solid #ffff 2px;
    background-color: #4A8CE1;
    color: #ffff;

}

/* Ex: Dias da semana em Loby */
.day{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border: solid #8F8F8F 0.15vw;

    background-color: #ffff;
    transition: background-color 0.5s,border 0.5s,color 0.3s;

    outline: none;

    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #8F8F8F;

    outline:none
}

.day:hover{
    background-color: #3560EE;
    border: solid 0.15vw #ffffff;
    color: #ffffff;
}


.click{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 87%;
    height: 87%;
    border: solid #ffff 0.15vw;

    box-shadow: -3px 3px 0px 2px rgba(67, 67, 67, 0.5);

    background-color: #48d32d;
    transition: box-shadow 0.1s,
                transform 0.1s;

    
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 0.85vw, 5em);
    color: #ffffff;            

    outline: none;
}

.click:active{
box-shadow: none;
transform: translate(-3px, 3px);
}

.BlueWhite{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 87%;
    height: 87%;
    border: solid #ffff 0.15vw;

    background-color: #3560EE;
    
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 0.85vw, 5em);
    color: #ffffff;            

    outline: none;
    transition: all 0.3s ease-in-out;
}

.BlueWhite:hover{
    color: #090d4b;
    border: solid #ffffff 0.15vw;
    background-color: #48d32d;

}


.darkBlue{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 87%;
    height: 87%;

    background: linear-gradient(to right, #2054fc, #41a3ff);

    background-color: #40496A;
    border: solid #ffffff00 0.15vw;
    
    font-family: "Urbanist";
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 0.85vw, 5em);
    color: #ffffff;   
    
    background-size: 200%;
    background-position: left;


    transition: all 0.3s ease-in-out;
    border: solid #ffff 0.15vw;

}

.darkBlue:hover{
    border: solid #ffff 0.15vw;
    background-position: right;

}