


.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 10px;

    background-color: rgb(63, 255, 92);
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    padding-right: 15%;

    width: 100%;
    height: 20%;

    gap: 1%;

    background-color: azure;
}

.core{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 80%;

    background-color: antiquewhite;
}

.img_AND_relative{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 30%;
    height: 100%;

    gap: 3%;

    background-color: black;
}

.img{
    width: 50%;
    height: 50%;

    border-radius: 50%;
    border: solid 2px #ffff;

    background-color: brown;
}

.relative{
    width: 100%;
    height: 45%;

    background-color: rgb(255, 140, 0);
}

.comment{
    width: 70%;
    height: 100%;

    background-color: rgb(117, 117, 117);
}

.likes{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 3%;

    width: 100%;
    height: 20%;

    background-color: blueviolet;
}

.like_area{
    display: flex;
    align-items: center;

    width: 30%;
    height: 100%;

    background-color: rgb(115, 255, 96);
}

.like_core{
    width: 20%;
    height: 40%;

    background-color: aliceblue;
}


.numLikes{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 60%;

    background-color: black;
}

.deslike_area{
    display: flex;
    align-items: center;

    width: 30%;
    height: 100%;

    background-color: rgb(204, 86, 17);
}

.deslike_core{
    width: 20%;
    height: 40%;

    background-color: aliceblue;
    
}

.numdesLikes{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 60%;

    background-color: black;
}
