@keyframes emergirDireita {
    0%   { transform: translate(90%, 0px); }   /* Posição inicial */
    30%  { transform: translate(-5%, 0px);}
    65%  { transform: translate( 2%, 0px);}
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireitaVoltando {
    0%   { transform: translate(0%, 0%); }   /* Posição inicial */
    65%  { transform: translate( 100%, 0px);}
    100% { transform: translate(0%, 0%); }  /* Volta ao normal */
}

.main{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 94%;
    height: 100%;

    background-color: #00000084;
    border-radius: 1vw;

    animation: emergirDireita 0.8s ease-out 
}

.waring{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 7%;

    top: 1.5%;

    border-radius: 0.2vw;
    border: solid #ffff 0.05vw;

    background-color: #ff69698a;
}

.inputTXT{
    width:95%;
    height:85%;
}

.Button{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 2vw;
    border-radius: 2vw;

    background-color: #40496A;
    transition: 0.5s;

    bottom: 4%;
    right: 10%;

    margin-bottom: 2%;
}

.Button:hover{
    background-color:#3560EE;
    transition: 0.5s;
}

.Button::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.icon{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 12%;

    right: -6.0%;
    top: 1%;
}

.cRestantes{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30%;
    height: 10%;

    margin-left: -50%;
    margin-top: -5%;

    background-color: rgba(77, 89, 187, 0.662);
    border-radius: 0.5vw;

}

.txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.4em,0.9vw, 5em);
    color: #ffffff
}