@keyframes cimaPbaixo {
    0% { transform: translate(0, -30%); }
    40% { transform: translate(0px, 10%); }
    100% { transform: translate(0, -30%); }
}

.main{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: center;

 width: 100vw;
 height: 100vh;
 
 scroll-behavior: smooth;
}

.cabecalho{
    position: fixed;
}

.core{
    width: 100vw;
    height: 100vh;

    overflow-y: scroll;
}

.hp1{
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top:  10%;

    width: 100vw;
    height: 80vh;
}

.CtoTXT{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 70vw;
    height: 80vh;

    margin-left: 2%;
    z-index: 2;
}

.slogan{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60vw;
    height: 22vh;

    margin-top: 3%;
    margin-left: 5%;
}

.proposito{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 60vw;
    height: 15vh;

    margin-left: 5%;
}

.backForm{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 58vh;

    top: 27%;

    z-index: 1;
}

.img_svg{


    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
}

.img_png{


    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    object-fit: contain;
    overflow: hidden;
}

.icon_arrow{
    position: absolute;
    color: #ffff;

    width: 11%;
    height: 11%;

    top: 80%;
    left: 45%;

    z-index: 5;

    animation: cimaPbaixo 0.8s ease-out infinite;
}

.hp2{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
    height: 50vh;

    margin-bottom: 3%;
}

.pre01{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 27%;
    height: 95%;

    gap: 3%;

    cursor: pointer;
    border-radius: 0.5vw;

    transition: all 0.5s ease-out;
}

.pre01:hover{
  background-color: #bababa;
}

.imageArea{
    width: 50%;
    height: 45%;

    margin-top: 3%;
}

.preTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 10%;
}

.preTxt{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 71%;
    height: 45%;
}

.PathThumb{
    width: 25%;
    height: 80%;

    margin-right:7% ;
    z-index: 3;
}

.txtSlogan{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 3.5vw, 5em);
    color: #282740
}

.txtProposito{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 2.3vw, 5em);
    color: #4A3B3B
}

.txtHp2title{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 1.5vw, 5em);
    color: #282740
}

.txtHp2txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 1.2vw, 5em);
    color: #282740
}