/* ==== @KeyFrames ==== */

@keyframes emergirBaixo {
    0% { transform: translate(0, 20px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireita {
    0% { transform: translate(50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireita2 {
    0% { transform: translate(50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirEsquerda {
    0% { transform: translate(-50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

/* Tela de Load */

.telaLoad{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.telaLoad_loadMessage{
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10%;

    width: 20vw;
    height: 25vh;
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
}

.core{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 90vh;
    
}

.sideBar{
    position: relative;

    width: 23vw;
    height: 90vh;

    border-left: 0.2vw solid #ffff;
    background-color: #2a3764;

    overflow-y: scroll;

    z-index: 2;
}

.sideBar::-webkit-scrollbar {
    width: 0.0vw; /* Largura da barra */
}

.titlePath{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 14%;

    padding-left: 5%;
    padding-right: 3%;

    border-bottom: solid 0.2vw #ffff;
}

.classAreaAll{
    
    width: 23vw;
    height: 73vh;

    margin-top: 2%;

    overflow-y: scroll;
}

.classAreaAll::-webkit-scrollbar {
    width: 0.0vw; /* Largura da barra */
}

.classArea{
    position: relative;
    overflow: visible; /* Permite que elementos filhos ultrapassem */
    
    display:  flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 10%;
}

.forumArea{
    display:  flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 10%;

    margin-top: 2%;

    transition: all 0.2s ease;
    border-bottom: solid 0.1vw #ffff;

    cursor: pointer;
}

.forumArea:hover{
    color: #051b67;
    background-color: #ffffff;
}

.icone{
    width: 10%;
    height: 44%;
}

/* FIM SIDEBAR */

.contentArea{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 77vw;
    height: 90vh;

    overflow-y: scroll;
    flex-wrap: wrap;

    gap: 10%;
}

.contentArea::-webkit-scrollbar {
    width: 0vw; /* Largura da barra */
}

.contentArea::-webkit-scrollbar-track {
    background: #9A9FAF; /* Cinza claro */
}

.contentArea::-webkit-scrollbar-thumb {
    background: #69718E; /* Azul */
}

.contentCore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    
}

.editar{
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 5vw;
    height: 30vh;

    right: 4%;
    top: 8.5%;

    gap: 2%;
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2vw;
    border-radius: 2vw;

    background-color: #051b67;
    transition: 0.5s;
}

.edit:hover{
    background-color:#6e8aed;
    transition: 0.5s;
}

.edit::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.icon{
    width: 55%;
    height: 55%;
}

.vidArea{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    background-color: #393F54;
    border-radius: 1vw;

    width: 80%;
    height: 75%;
}

.videoMain{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.descArea{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #69718E;
    border-radius: 1vw;

    width: 76%;
    min-height: 50%;

    margin-bottom: 5%;
    padding: 2%;

    flex-wrap: wrap;

}

.apresentacao{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 77vw;
    height: 90vh;
}

.tituloModulo{
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 27%;
    height: 10%;

    top: 14%;
    left: 28%;

    gap: 5%;
    
    padding-left: 3%;
    border-radius: 0.5vw;

    background-color: #2a3764;
}

.desc{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 40%;
    max-width: 60%;
    min-height: 40%;
    max-height: 60%;

    background-color: #69718E;
    border-radius: 0.8vw;

    padding: 5%;
}

.forumCore{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 60vw;
    height: 90vh;

    background-color:#747B97 ;

    gap: 10%;
}

.forumTopPost{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 14%;
    right: 8%;

    width: 3vw;
    border-radius: 2vw;

    background-color: #ffff;
    transition: 0.5s;

    z-index: 2;

    animation: emergirBaixo 0.8s ease-out 
}

.forumTopPost:hover{
    background-color:#6e8aed;
    transition: 0.5s;
}

.forumTopPost::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.PostCommentArea{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 80%;
    height: 60%;

    left: 15%;
    top: 20%;

    z-index: 3;
}

.backScroll{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 75vw;
    height: 90vh;

    background-color: #6e8aed;
}

.CTOforum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -2%;

    width: 100%;
    height: 70%;

    border-radius: 0.7vw;
}

.CTOforum_img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 50%;
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 90%;

    object-fit: cover;
    overflow: hidden;

    border-radius: 1vw;
    border: 0.2vw #ffff solid;

    background-color: #0000003f;
}

.CTOforum_txt{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 10%;

    background-color: #051a676e;
    border-radius: 0.5vw;
}

.forumScroll{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 75%;
    height: 90vh;

    overflow-y: scroll;
    flex-wrap: wrap;

    background-color:#747B97 ;

    z-index: 1;
}

.forumScroll::-webkit-scrollbar {
    width: 0vw; /* Largura da barra */
}

.forumScroll::-webkit-scrollbar-track {
    background: #9A9FAF; /* Cinza claro */
}

.forumScroll::-webkit-scrollbar-thumb {
    background: #2f3447; /* Azul */
}

.comment{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 95%;
    height: 40%;
}


.answersArea{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    flex-wrap: wrap;

    background-color:#747B97 ;

    gap: 3%;
}

.commentAnswerTComment{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 95%;
    height: 40%;

    margin-left: -5%;
    margin-top: 2%;
    animation: emergirDireita 0.8s ease-out 

    

}

.linhaSeparadora{
    width: 82%;
    height: 0.1%;

    border-radius: 0.5vw;
    margin-top: 1%;

    background-color: #ffffff;
}

.commentAnswer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 95%;
    height: 40%;

    margin-left: 5%;
    animation: emergirEsquerda 0.8s ease-out 
}

.leave{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3vw;
    height: 3vw;

    left: 3%;
    top: 2%;

    z-index: 2;
    animation: emergirBaixo 0.8s ease-out 
}

.txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.4em,0.9vw, 5em);
    color: #ffffff
}

.txt2{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.4em,1.2vw, 5em);
    color: #ffffff
}

.txt3{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.4em,1.0vw, 5em);
    color: #ffffff
}
