/* ==== @KeyFrames ==== */

@keyframes emergirBaixo {
    0% { transform: translate(0, 20px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireita {
    0% { transform: translate(50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireita2 {
    0% { transform: translate(50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirEsquerda {
    0% { transform: translate(-50px, 0px); }   /* Posição inicial */
    50% { transform: translate(0px, 0px); }  /* Direita e cima */
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}


.main{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100vw;
    height: 100vh;
}

.header{
    width: 100%;
    height: 10%;
}

.core{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 90vh;
}

.sideBar{
    width: 25vw;
    height: 90vh;

    background-color: #99a7db7a;
}

.titlePath{
    display:  flex;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 14%;

    padding-left: 5%;
    padding-right: 3%;

    border-bottom: solid 0.2vw #ffff;
}

.classAreaAll{
    width: 23vw;
    height: 73vh;

    margin-top: 2%;

    overflow-y: scroll;
}

.classAreaAll::-webkit-scrollbar {
    width: 0.0vw; /* Largura da barra */
}



.classArea{
    display:  flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 10%;

    margin-top: 2%;
}

.forumArea{
    display:  flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 10%;

    margin-top: 2%;

    transition: all 0.2s ease;
    border-bottom: solid 0.1vw #ffff;

    cursor: pointer;
}

.forumArea:hover{
    background-color: #69718E;
}

.icone{
    width: 10%;
    height: 44%;
}

/* FIM SIDEBAR */

.contentArea{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 73vw;
    height: 90vh;

    overflow-y: scroll;
    flex-wrap: wrap;

    background-color:#D9D9D9 ;

    gap: 10%;
}

.contentArea::-webkit-scrollbar {
    width: 1vw; /* Largura da barra */
}

.contentArea::-webkit-scrollbar-track {
    background: #9A9FAF; /* Cinza claro */
}

.contentArea::-webkit-scrollbar-thumb {
    background: #69718E; /* Azul */
}

.contentCore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.editar{
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 5vw;
    height: 30vh;

    left: 2%;
    top: 8.5%;

    gap: 2%;
}

.edit{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 2vw;
    border-radius: 2vw;

    background-color: #051b67;
    transition: 0.5s;
}

.edit:hover{
    background-color:#6e8aed;
    transition: 0.5s;
}

.edit::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.icon{
    width: 55%;
    height: 55%;

    background-color: aqua;
}

.vidArea{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5%;

    background-color: #393F54;
    border-radius: 1vw;

    width: 74%;
    height: 74%;
}

.videoMain{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.descArea{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    background-color: #69718E;
    border-radius: 1vw;

    width: 70%;
    min-height: 50%;

    margin-bottom: 5%;
    padding: 2%;

    flex-wrap: wrap;

}

.forumCore{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 73vw;
    height: 90vh;

    background-color:#D9D9D9 ;

    gap: 10%;

}

.forumScroll{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 55vw;
    height: 89vh;

    overflow-y: scroll;
    flex-wrap: wrap;

    background-color:#747B97 ;

    padding-bottom: 1vh;

    gap: 3%;
}

.forumScroll::-webkit-scrollbar {
    width: 0.8vw; /* Largura da barra */
}

.forumScroll::-webkit-scrollbar-track {
    background: #9A9FAF; /* Cinza claro */
}

.forumScroll::-webkit-scrollbar-thumb {
    background: #2f3447; /* Azul */
}

.comment{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 35%;

}


.answersArea{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    overflow-y: scroll;
    flex-wrap: wrap;

    background-color:#747B97 ;

    gap: 3%;
}

.commentAnswerTComment{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 35%;

    margin-left: -15%;
    animation: emergirDireita 0.8s ease-out 

}

.commentAnswer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 80%;
    height: 35%;

    margin-left: 12%;
    animation: emergirEsquerda 0.8s ease-out 
    

}

.leave{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 3vw;
    height: 3vw;

    left: 3%;
    top: 2%;

    z-index: 2;
    animation: emergirBaixo 0.8s ease-out 
}

.txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.4em,0.9vw, 5em);
    color: #ffffff
}

.txt2{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.4em,1.2vw, 5em);
    color: #ffffff
}

.txt3{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.4em,1.0vw, 5em);
    color: #ffffff
}
