@keyframes emergirBaixo {
    0%   { transform: rotate(0deg);} 
    100% { transform: rotate(360deg);} 
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100%;
}

.IconArea{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 15%;
    height: 20%;

    margin-top: 20%;
}

.icon{
    width: 100%;
    height: 100%;

    color: rgb(100, 27, 50);
}


.perfilArea{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;

    margin-top: 20%;

    animation: emergirBaixo 0.8s ease-out infinite;

    z-index: 2;
}

.loadImage{
    width: 100%;
    height: 100%;

    color: #3560EE;
}

.msgLoad{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 25%;

    background-color: #051a67e3;
    border-radius: 0.5vw;

    margin-top: 33%;
}

.txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.4em,1.0vw, 5em);
    color: #ffffff
}
