.main_format_1{
    display: flex;
    justify-content: center;
    align-items: center;

  
    width: 85%;
    height: 85%;
}



.main_Style_1{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
  
    margin-top: -2%;
    cursor: pointer;
  
    transition: transform 0.4s ease, 
                box-shadow 0.4s ease;

}

.main_Style_1:hover{
    box-shadow: -5px 10px 20px rgba(55, 55, 55, 0.76);
    transform: translate(5px, -5px);
}


.main_Style_2{

    background-color: #8791AB;
    border: solid 1px #ffff;
    border-radius: 8px;
    

    cursor: pointer;
    transition: 
                transform 0.2s ease,
                background-color 0.3s ease;
}

.main_Style_2:hover{
    transform: translate(6.5%, -4%);
    background-color: #88D23E;

}

.main_Style_3{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
  
    margin-top: -2%;
    cursor: pointer;
}

.main_Style_4{
    border-radius: 10px;
    background-color: #ffffff;

    cursor: pointer;
}

.titulo{

    display: flex;
    justify-content:flex-start;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;

    width: 100%;
    height: 50%;

    background-color: #8791ab00;
}


.textFunc{
    display: flex;

    white-space: pre-wrap;

    word-wrap: break-word; /* Quebra palavras muito grandes */
    overflow-wrap: break-word; /* Suporte extra para quebra de palavras */
}

.stylesText{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 0.8vw, 5em);
    color: #000000
}