.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;
    
}

.header{
    width: 100%;
    height: 10%;
}

.core{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100vw;
    height: 90vh;

    gap: 2.5%;
}

.sideBar{
    width: 22%;
    height: 100%;

    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;

    background-color: #C1CAEB;
}

.mainContent{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 70vw;
    height: 90vh;

    overflow-y: scroll;
    flex-wrap: wrap;

    gap: 2%;

    background-color: #BDBEC2;
}

.mainContent::-webkit-scrollbar {
    width: 1vw; /* Largura da barra */
}

.mainContent::-webkit-scrollbar-track {
    background: #9A9FAF; /* Cinza claro */
}

.mainContent::-webkit-scrollbar-thumb {
    background: #69718E; /* Azul */
}

.contentArea{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3%;

    width: 28%;
    height: 63%;

    border-radius: 1vw;
}
