/* Temporario */

.color{
    background-color: #51D27C;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100%;

    cursor: pointer;

    border-radius: 1vw;

    background-color: rgba(123, 123, 123, 0.583);
    transition: transform 0.2s ease;
}

.main:hover{
    transform: scale(1.05);
}

.thumbMail{
    width: 100%;
    height: 45%;

    background-color: rgba(51, 42, 74, 0.615);
}

.img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
}

.coreArea{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 55%;

    background-color: rgb(255, 255, 255);
}

.title_category{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 40%;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    
    padding-top: 8%;
    margin-top: 5%;

    width: 90%;
    height: 40%;

    word-break: break-all;

    outline: none;
    resize: none;
}

.category{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 90%;
    height: 40%;
}

.views{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 30%;

    gap: 3%;
}

.icon{
    width: 10%;
    height: 100%;
}

.adjectivesArea{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    margin-top: 3%;

    width: 90%;
    height: 60%;

    gap: 1%;
}

.adjectiveLines{
    display: flex;
    flex-direction: column;


    width: 100%;
    height: 100%;

    gap: 5%;
}

.ajdLine{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 25%;

    gap: 1%;
}

.adjective{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 32%;
    height: 100%;

    border-radius: 0.5vw;
}

.colorAdjectiveGood{
    background-color: #51D27C;
}

.colorAdjectiveNeah{
    background-color: #e7c70f;
}

.colorAdjectiveBad{
    background-color: #e04c4c;
}

.txt1{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em,1vw, 5em);
    color: #000000e2
}

.txt2{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em,0.9vw, 5em);
    color: #777777e2
}

.txt3{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em,0.7vw, 5em);
    color: #ffffffe2
}


