.main{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}


.style1{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 95%;
    height: 95%;
    background-color: rgb(255, 255, 255);
    clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 25px), calc(100% - 25px) 100%, 0px 100%);
    
    transition: transform 0.4s ease, filter 0.4s ease;
}

.style1:hover{
    transform: translate(5px, -5px);
}

.userNameArea{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    height: 15%;

    margin-right: 47.5%;
}

.noteClass{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 95%;
    height:73%;

    margin-right: 2.5%;
}

.textLayout{
    display: flex;

    white-space: pre-wrap;

    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.stylesText{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 0.8vw, 5em);
    color: #000000
}

.likeButton{
    width: 50%;
    height: 20%;

    margin-right: 5%;
}



