* {
    overflow: hidden;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: #D9D9D9
}

.header{
    width: 100vw;
    height: 10vh;
}

.core{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90vh;
    width: 100vw;
}
/* Inerente */
.form{
    overflow-y: scroll;

    height: 90vh;
    width: 50vw;

    border-top-left-radius: 20px;

    background-color: #7878783a ;
}

.form::-webkit-scrollbar{
    width: 18px;
    border: solid #6F6E6E 2px;
}

.form::-webkit-scrollbar-thumb{
    background-color: #A6E675;
 }

.title_input{
    display: flex;
    justify-content: center;
    align-items: center;

    width:88%;
    height:6.2vh;
}

.inputA{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:  100%;
    height: 65%;

    padding-top: 10%;
    gap: 3%;
}

.inputB{
    display: flex;
    flex-direction: column;
    align-items: center;

    width:  100%;
    height: 80%;

    padding-top: 1%;
    margin-top: -15%;
}

.inputC{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 75%;

    margin-top: -12%;
    gap: 3%;
}

.strong{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 800;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #625353;

    margin-left: 1.01%;
    margin-right: 1.01%;
}

.categoriaInput{
    width: 18%;
    height: 10%;

    margin-left: 6%;
}

.adjetivosInput{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 12%;
}


.boxAdjetivo{
    width: 20%;
    height: 83.333%;
}


.ctoA{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafafa9c;
    border-radius: 8px;
}

.tags{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 40%;
}

.inputTag{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 70%;

    gap: 3%;

    margin-top: 2%;

    padding-left: 2%;
    padding-right: 2%;
}

.ctoC{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafafa9c;
    border-radius: 8px;
}

.ctoD{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fafafa9c;
    border-radius: 8px;

}

.button{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 12%;
    height: 25%;
}


.inputTag_core{
    width: 65%;
    height: 30%;  
    
}

.showTags{
    display:flex;
    justify-content: flex-start;
    align-items: center;

    width: 90%;
    height: 35%;

    gap: 3%;

    border-radius: 8px;
    border: solid #ffff 2px;

    background-color: #8791ab7e;
    flex-wrap:wrap;
}


.tagsElement{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    width: 30%;
    height: 20%;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 400;
    font-size: clamp(0.6em, 0.7vw, 5em);
    color: #625353;

}

.tagExcluir{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 15%;
    height: 100%;

    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;

    background-color: #d6e438;
}

.tagCore{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60%;
    height: 100%;

    background-color: #88e900b0;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #ffffff
}



.inputsP_core{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    height: 100%;
    width: 50%;
}

.inputP{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 7%;

    margin-top:5%;
    margin-left: 8%;
}

.categoria{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 20%;

    margin-left: 8%;
    margin-top: 2%;

    padding-top: 2%;
}

.inputM{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding-top: 2%;

    width: 80%;
    height:45%;

    margin-left: 8%;
    margin-top: 2%;
}

.paraM{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;
    
    width: 100%;
    height: 50%;  
}

.inputsG_core{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 50%;
    height: 100%;
}

.G_core{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 95%;
    height: 95%;

    margin-top: -13%;

    background-color: black;
}

.messageOver{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 10%;
}

.boxArea{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-top: 3%;

    width: 100%;
    height: 60%;
}

.boxCategoria{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 23%;
    height: 20%;
}



.messageAdjetivos{
    margin-top: -15%;
    margin-left: 15%;
}

.adjetivos{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 85%;
    height: 6.5%;

    gap: 1%;
}

.boxAdjetivos{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    height: 85%;
    width: 20%;
}

.inputsGG_core{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 85%;
    height: 40%;

    margin-top: 2%;
}

/* Inerente */

.inputDesc{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40vw;
    height: 40vh;
}


/* Inerente */
.txtover{
    width: 45vw;
    height: 6vh;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #625353
}

/* Inerente */

.enviar{
    margin-top: 2%;
    width: 10vw;
    height: 7vh;
}

