@keyframes cimaPbaixo {
    0% { transform: translate(0, -30%); }
    40% { transform: translate(0px, 10%); }
    100% { transform: translate(0, -30%); }
}

@keyframes emergirDireita {
    0%   { transform: translate(90%, 0px); }   /* Posição inicial */
    30%  { transform: translate(-5%, 0px);}
    65%  { transform: translate( 2%, 0px);}
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}

@keyframes emergirDireita_b {
    0%   { transform: translate(81%, -3%); }   /* Posição inicial */
    30%  { transform: translate(-5%, 0px);}
    65%  { transform: translate( 2%, 0px);}
    100% { transform: translate(0, 0); }  /* Volta ao normal */
}


.decorativo01{
    position: absolute;

    background-color: #73798dc2;
    height: 40%;

    border-radius: 0.3vw;
    z-index: 0;

    top: 35%;

}

.main{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 width: 100vw;
 height: 100vh;
 
 scroll-behavior: smooth;
}

.cabecalho{
    position: fixed;
}

.core{
    width: 100vw;
    height: 100vh;

    gap: 3%;

    overflow-y: scroll;
}

.hp1{
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top:  10%;

    width: 100vw;
    height: 80vh;
}

.CtoTXT{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 65vw;
    height: 80vh;

    margin-left: 2%;
    z-index: 2;
}

.slogan{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 55%;

    margin-top: 3%;
    margin-left: 5%;
}

.proposito{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    width: 95%;
    height: 15vh;

    margin-left: 5%;
}

.backForm{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 58vh;

    top: 27%;

    z-index: 1;
}

.img_svg{


    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
}

.img_png{


    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    object-fit: contain;
    overflow: hidden;
}

.icon_arrow{
    position: absolute;
    color: #ffff;

    width: 11%;
    height: 11%;

    top: 80%;
    left: 45%;

    z-index: 5;

    animation: cimaPbaixo 0.8s ease-out infinite;
}

.hp2{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
    height: 50vh;

    gap: 1%;

    margin-bottom: 3%;
}

.pre01{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 15%;
    height: 95%;

    gap: 3%;

    background-size: 200%;
    background-position: left;

    cursor: pointer;
    border-radius: 0.5vw;


    transition: all 0.3s ease-in-out;
}


.imageArea{
    width: 50%;
    height: 45%;

    margin-top: 3%;
}

.preTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70%;
    height: 10%;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 1.2vw, 5em);
    color: #282740
}

.preTxt{
    display: flex;
    justify-content: center;
    align-items: flex-start;

    width: 71%;
    height: 45%;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em,0.9vw, 5em);
    color: #282740
}

.PathThumb{
    width: 40%;
    height: 100%;

    margin-top: -5%;
    margin-right:2% ;
    z-index: 3;
}

.flowNav{
    position: absolute;

    width: 60%;
    height: 100%;

    margin-top: 5%;
    margin-left:7% ;
    z-index: 3;
}

.line{
    width: 92%;
    height: 0.3%;

    margin-left: 4%;

    border-radius: 1vw;

    background-color: #282740;
}

.contentMain{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 10vh;

    padding-top: 2vh;
}

.content_A{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    width: 70%;
    min-height:10%;
    max-height:100%;

    gap: 1%;

    padding-top: 2%;
    padding-bottom: 2%;

}

.contentTitle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 70%;
    height: 10%;

    margin-left: 2%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    z-index: 1;
}

.contentMainCore{
    width: 70%;
    min-height: none;
    max-width: 70%;

    margin-left: 2%;

    padding-top: 3%;
    padding-bottom: 3%;
}

.contentCTO{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 70%;
    height: 10%;

    margin-left: 2%;
    margin-bottom: 1%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    background-color: #0004EB;
}



.img{
    width: 30%;
    height: 80%;

    object-fit: contain;
    overflow: hidden;
}

.expla_01_a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 51%;
    height: 100%;

    margin-left: 5%;
    gap: 3%;

}

.expla_main_a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    white-space:  pre-wrap;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 1vw, 5em);
    color: #282740;

}



.img_V2{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 40%;
    height:56%;

    right: 5%;
    top: 8%;

    object-fit: contain;
    overflow: hidden;

    
    z-index: 2;
}

.enfeite_b{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 5vw;
    height:5vw;

    right: 7%;
    top: 65%;

    border: 1.7vw solid transparent;

    background-image: linear-gradient(#D9D9D9, #D9D9D9), linear-gradient(to right, #40cc8b, #83FFCD, #16794b);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    border-radius: 50%;
    
    object-fit: contain;
    overflow: hidden;

    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 1.5vw, 5em);
    color: #313955;

    z-index: 3;
}


.CTOend{
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    height: 30%;

    margin-left: 25%;
}

.CTOend_txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 2vw, 5em);
    color: #282740

}

.CTOend_button{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20%;
    height: 22%;

    margin-top: 5%
}

.CTOend_deco{
    position: absolute;

    width: 15vw;
    height: 8vw;

    left: 14.5%;
}

.realoc{
    margin-left: 7%;
}

.txtSlogan{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 3vw, 5em);
    color: #282740
}

.txtProposito{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(0.6em, 2.3vw, 5em);
    color: #4A3B3B
}

.txtHp2title{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 1.5vw, 5em);
    color: #282740
}

.txtHp2txt{
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 600;
    font-size: clamp(0.6em, 1.2vw, 5em);
    color: #282740
}

.strong{
    white-space:  pre-wrap;
    
    font-family: "Urbanist", serif;
    font-style: normal;
    font-weight: 700;
    font-size: clamp(0.6em, 1.3vw, 5em);
    min-width: 30%;

    background: linear-gradient(to right, #00BBFF, #0004EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.strg_A{
    color: #161942;
    font-weight: 500;
}

.strg_B{
    font-weight: 800;
    background: linear-gradient(to right, #FF0000, #6C0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.strg_B{
    font-weight: 800;
}

.strg_D{
    font-weight: 800;
    background: linear-gradient(to right, #00BBFF, #0004EB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.strg_E{
    color: #00BBFF;
}
.strg_F{
    color: #b725d4;
}
.strg_G{
    color: #7ab824;
}


.img_Area{
    width: 25%;
    height: 70vh;

    margin-left: -15%;
}

.titleAccessoryB{
    position: absolute;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 40%;
    height: 7%;

    margin-left: 1.0%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    border-radius: 0.75vw;

    z-index: 0;

    background: linear-gradient(to right, rgba(255, 255, 255, 0.716), rgba(0, 0, 255, 0));
}

.titleAccessoryC{
    position: absolute;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: 40%;
    height: 7%;

    margin-left: 1.0%;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;

    border-radius: 0.75vw;

    z-index: 0;

    background: linear-gradient(to right, rgba(217, 255, 27, 0.716), rgba(0, 0, 255, 0));
}

.fade_in_section {
  opacity: 0;
  transform: translateY(10%);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade_in_section.visible {
  opacity: 1;
  transform: none;
}